<div class="d-flex country-list">
    <div class="list row">
        <div class="col-md-12">
            <h4>Country Wise Situation</h4>
            <v-data-table v-if="Countries" :headers="headers" :items="Countries" :hide-default-footer="true" disable-pagination class="elevation-1"
                @click:row="displaydetails">
                <template v-slot:item.Country="{ item }">
                    <span @click="displaydetails(item.Slug) ">{{ item.Country }}</span>
                </template>
            </v-data-table>
        </div>
    </div>
</div>